<!DOCTYPE html>
<html lang="en">

<head>
	<title>Job Assignment</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</head>

<body>
	<div class="container">
		<div class="logo-box"><img src="images/0Logo.png" width="55" alt="Logo" id="logo"
				class="d-inline-block align-middle mr-2"></li>
		</div>
		<ul class="nav nav-tabs" role="tablist">
			<li><a href=/ class="text-uppercase font-weight-bold">Home</a></li>
			<li><a href=login class="text-uppercase font-weight-bold">Login</a></li>
			<li class="active"><a href=jobAssignment class="text-uppercase font-weight-bold">Job Assignment</a></li>
			<li><a href=siteDiary class="text-uppercase font-weight-bold">Site Diary</a></li>
			<li><a href=summary class="text-uppercase font-weight-bold">Summary</a></li>
			<li><a href=contact class="text-uppercase font-weight-bold">Contact</a></li>


		</ul>
	</div>

	<div class="left-section">
		<div class="topInfo">

			<h3>
				Job Assignment
			</h3>
			<h4 class="user-info">
				<span id="pageToday">Today</span>
				<span id="userName">
					<% if (username) { %>
						<p>
							<%= username %>
						</p>
						<button id="logoutBtn"> <a href="/logout">Logout</a></button>

						<% } else { %>
							<p>Guest</p>
							<% } %>
				</span>
			</h4>
		</div>


		<% if (username) { if (!createStatus){%>
			<form class="jobAssignmentForm" method="post">



				<!-- <div class="rowwrap"> -->
				<div class="form-group">
					<label for="JobCode">Job Description Code</label>
					:<input type="text" class="form-control" id="JobCode" name="JobCode" required>
				</div>
				<div class="form-group">
					<label for="TeamLeader">Team Leader</label>
					:
					<!-- <input type="text" class="form-control" id="TeamLeader" name="TeamLeader"> -->
					<select name="TeamLeader" id="TeamLeader" required>
						<option value="">--Please choose an Team Leader--</option>


						<% if (userData.length !=0) {var i=1; userData.forEach( function(data) { %>
							<option value="<%=data.user_id %>">
								<%=data.user_id %>:<%=data.user_name %>
							</option>
							<% i++; }) %>
								<%}%>
					</select>

				</div>
				<div class="form-group">
					<label for="TeamMember">Team Member:</label><br>

					<!-- <input type="text" class="form-control" id="TeamMember" name="TeamMember"> -->
					<% if (userData.length !=0) { var i=1; userData.forEach(function(data) { %>
						<input  type="checkbox" name="TeamMember" value="<%=data.user_id %>" id="user<%=i%>">
						<label for="user<%=i%>">
							<%=data.user_id %>: <%=data.user_name %>
						</label>
						<% i++; }) %>
							<% } %>


				</div>

				<div class="withoutPadding">
					<div class="form-group ">
						<label for="tools">Tools</label>: <br>

						<input type="checkbox" name="tools" value="circular Saw" id="circularSaw">
						<label for="circularSaw">Circular Saw</label>

						<input type="checkbox" name="tools" value="Mitre Saw" id="MitreSaw">
						<label for="MitreSaw">Mitre Saw</label>

						<input type="checkbox" name="tools" value="Framing Nail Gun" id="NailGun">
						<label for="NailGun">Framing Nail Gun</label>

						<input type="checkbox" name="tools" value="Sabre Saw" id="SabreSaw">
						<label for="SabreSaw">Sabre Saw</label>

						<input type="checkbox" name="tools" value="Drill" id="Drill">
						<label for="Drill">Drill</label>

						<input type="checkbox" name="tools" value="Impact Driver" id="ImpactDriver">
						<label for="ImpactDriver">Impact Driver</label>

						<input type="checkbox" name="tools" value=">Multi Tool" id=">MultiTool">
						<label for="MultiTool">Multi Tool</label>

						<input type="checkbox" name="tools" value="Angle Grinder" id="AngleGrinder">
						<label for="AngleGrinder">Angle Grinder</label>


						<!-- <textarea type="text" class="form-control" id="tools" name="tools"></textarea> -->
					</div>

					<div class="form-group">
						<label for="Materials">Materials:</label><br>
						<input type="checkbox" name="Materials" value="4*2 Timber" id="4Timber">
						<label for="4Timber">4*2 Timber</label>

						<input type="checkbox" name="Materials" value="3*2 Timber" id="3Timber">
						<label for="3Timber">3*2 Timber</label>

						<input type="checkbox" name="Materials" value="Ceiling Batten" id="CeilingBatten">
						<label for="CeilingBatten">Ceiling Batten</label>

						<input type="checkbox" name="Materials" value="90mm Nails" id="90mmNails">
						<label for="90mmNails">90mm Nails</label>

						<input type="checkbox" name="Materials" value="65mm Nails" id="65mmNails">
						<label for="65mmNails">65mm Nails</label>

						<input type="checkbox" name="Materials" value="Timber Weatherboard" id="TimberWeatherboard">
						<label for="TimberWeatherboard">Timber Weatherboard</label>

						<input type="checkbox" name="Materials" value="Weatherboard" id="Weatherboard">
						<label for="Weatherboard">Weatherboard</label>

						<input type="checkbox" name="Materials" value="Fiber Cement Weatherboard" id="FiberCementWeatherboard">
						<label for="FiberCementWeatherboard">Fiber Cement Weatherboard</label>

						<input type="checkbox" name="Materials" value="plywood" id="plywood">
						<label for="plywood">plywood</label>

					</div>

					<div class="form-group">
						<label for="TimeStarts">Time Starts</label>
						:<input required type="datetime-local" class="form-control" id="TimeStarts" name="TimeStarts">
					</div>
					<div class="form-group">
						<label for="TimeEnds">Time Ends</label>
						:<input required type="datetime-local" class="form-control" id="TimeEnds" name="TimeEnds">
					</div>
				</div>



				<!-- </div> -->

				<div class="taskList">
					<h3 id="tasktitle">Task</h3>
					<div class="taskitem">
						<div class="tasknumber">1</div>
						<input required type="text" class="form-control taskinput" name="task1" id="task1">
					</div>
					<div class="taskitem">
						<div class="tasknumber">2</div>
						<input required type="text" class="form-control taskinput" name="task2" id="task2">
					</div>
					<div class="taskitem">
						<div class="tasknumber">3</div>
						<input required type="text" class="form-control taskinput" name="task3" id="task3">
					</div>

				</div>


				<div class="submitwrap">
					<button type="submit" class="btn btn-primary" id="diarysubmit">Submit</button>

				</div>

			</form>

			<% } else { %>
				<div class="feedback">
					<% var createStatus=createStatus || false; %>
						<!-- <% var username=username ; %> -->

						<% if (createStatus) { %>
							<p id="StatusMSG">
								<%= statusMSG %>
							</p>

							<% } %>
				</div>


				<% } %>
					<% } else { %>
						<div>
							<p> please Log in account.</p>
						</div>

						<% } %>
	</div>

</body>

<!-- replace "Today" with real date -->
<script>

 console.log('this is job js');
	var today = new Date();

	var year = today.getFullYear();
	var month = today.getMonth() + 1;
	var day = today.getDate();

	var formattedDate = year + '-' + (month < 10 ? '0' : '') + month + '-' + (day < 10 ? '0' : '') + day;
	console.log(formattedDate);
	document.querySelector("#pageToday").innerHTML = formattedDate;
</script>

</html>