<!DOCTYPE html>
<html lang="en">

<head>
	<title>Sita Diary page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<link href="/stylesheets/style.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</head>

<body>
	<div class="container">
		<div class="logo-box"><img src="images/0Logo.png" width="55" alt="Logo" id="logo"
				class="d-inline-block align-middle mr-2"></li>
		</div>
		<ul class="nav nav-tabs" role="tablist">
			<li><a href=/ class="text-uppercase font-weight-bold">Home</a></li>
			<li><a href=login class="text-uppercase font-weight-bold">Login</a></li>
			<li><a href=jobAssignment class="text-uppercase font-weight-bold">Job Assignment</a></li>
			<li class="active"><a href=siteDiary class="text-uppercase font-weight-bold">Site Diary</a></li>
			<li><a href=summary class="text-uppercase font-weight-bold">Summary</a></li>
			<li><a href=contact class="text-uppercase font-weight-bold">Contact</a></li>


		</ul>
	</div>
	<div class="left-section">
		<div class="topInfo">
			<h3>
				My Site Diary
			</h3>
			<h4 class="user-info">
				<span id="pageToday">2nd Dec</span>
				<span id="userName">
					<% if (username) { %>
						<p>
							<%= username %>
						</p>
						<button id="logoutBtn"> <a href="/logout">Logout</a></button>

						<% } else { %>
							<p>Guest</p>
							<% } %>
				</span>
			</h4>
		</div>
		<% if (username) { %>
			<form class="dairyForm">
				<div class="form-group">
					<label for="JobID">Job ID:</label>
					<select name="JobID" id="JobID" required>
						<option value="">--Please choose an JobID--</option>
						<% if(jobData.length !=0) {var i=1; jobData.forEach( function(data) { %>
							<option value="<%=data.job_id %>">
								<%=data.job_id %>
							:<%=data.job_description_code %>
							</option>
							<% i++; }) %>
								<%}%>

					</select>





				</div>

				<% if(jobData.length !=0) {var i=1; jobData.forEach( function(data) { %>
					<section class="jobItem hidden" id='<%=data.job_id %>'  >
						<div class="form-group">
							<label for="jdc">Job Description Code</label>
							:<input type="text" class="form-control" placeholder="<%=data.job_description_code %>" disabled>
						</div>
						<div class="form-group">
							<label for="tools">Tools</label>
							:<input type="text" class="form-control" placeholder="<%=data.tools %> " disabled>
						</div>
						<div class="form-group">
							<label for="Materials">Materials</label>
							:<input type="text" class="form-control" placeholder="<%=data.Materials %> " disabled>
						</div>
						
					</section>
		
					
					<% i++; }) %>
						<%}%>
						<div class="form-group">
							<label for="checkInTime">Check In Time</label>
							:<input type="datetime-local" class="form-control" id="checkInTime" name="checkInTime">
						</div>
						<div class="form-group">
							<label for="checkOutTime">Check Out Time</label>
							:<input type="datetime-local" class="form-control" id="checkOutTime" name="checkOutTime">
						</div>
						<div class="form-group">
							<label for="address">Site Address</label>
							:<input type="text" class="form-control" id="address" name="address">
						</div>
						<div class="form-group">
							<label for="weather">Weather</label>
							:<input type="text" class="form-control" id="weather" name="weather">
						</div>
						<div class="form-group">
							<label for="Note">Notes</label>
							:<textarea type="text" class="form-control" id="Note" name="notes"></textarea>
						</div>


						<div class="form-group">
							<label for="photos">Photos or Videos</label>
							:<input type="file" class="form-control" id="Photos" name="Photos"
								accept="image/*, video/*">
						</div>
						<!-- </div> -->

						<div class="form-group ">
							<label for="JobDone">Job I Have Done</label>
							:<textarea class="form-control" id="JobDone" name="JobDone"></textarea>
						</div>

						<div class="submitwrap">
							<button type="submit" class="btn btn-primary" id="diarysubmit">Submit</button>

						</div>

			</form>
			<% } else { %>
				<DIV>
					<p> please Log in account.</p>
				</DIV>

				<% } %>
	</div>
	</div>
</body>
<script>
	var today = new Date();

	var year = today.getFullYear();
	var month = today.getMonth() + 1;
	var day = today.getDate();

	var formattedDate = year + '-' + (month < 10 ? '0' : '') + month + '-' + (day < 10 ? '0' : '') + day;
	console.log(formattedDate);
	document.querySelector("#pageToday").innerHTML = formattedDate;
	var jobList=document.querySelectorAll(".jobItem");
	console.log(jobList);

	//select ID to show job info
	document.querySelector("#JobID").addEventListener("change",e=>{
		console.log(e.target.value);
		var selectID=e.target.value;

		jobList.forEach(item=>{
			item.classList.add("hidden")
		})

		jobList.forEach(item=>{
			if(item.id==selectID){
			item.classList.remove("hidden");}
		})

		
	});

</script>



</html>